.form-chat {
  display: flex;
  flex-direction: column;
  height: 550px;

  p, input {
    font-family: 'BT', sans-serif !important;
    font-size: 14px !important;
    user-select: text !important;
  }

  form input, form select {
    visibility: hidden;
  }

  #cf-context {
    height: 100%;
  }

  .loading-component {
    top: 50%;
    z-index: 1000;
    position: absolute;
    align-self: center;
  }
}
